<%= form_for([:admin,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_at, "시작일" %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :finished_at, "종료일" %><br />
    <%= f.datetime_select :finished_at %>
  </div>
  <div class="field">
    <%= f.label :title, "이벤트명" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :facebook_description, "페이스북에 노출되는 이벤트 설명" %><br />
    <%= f.text_field :facebook_description %>
  </div>
  <div class="field">
    <%= f.label :image_url, "이벤트 이미지 url (가로:960px, 세로: 제한없음)" %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :thumbnail, "썸네일 이미지 url (가로:960px, 세로: 120px)" %><br />
    <%= f.text_field :thumbnail %>
  </div>
  <div class="field">
    <%= f.label :banner_image, "배너 이미지 url (가로:960px, 세로: 120px)" %><br />
    <%= f.text_field :banner_image %>
  </div>
  <div class="field">
    <%= f.label :banner_link, "배너 링크 url (ex. http://www.naver.com)" %><br />
    <%= f.text_field :banner_link %>
  </div>
	
  <div class="field">
    <%= f.label :status, "진행상태" %><br />
    <%#= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
