<h1>이벤트 목록</h1>

<table>
  <tr>
    <th>
			<ul>
				<li class="odd">이벤트 시작일</li>
				<li class="even">이벤트 종료일</li>
			</ul>
		</th>
    <th>제목</th>
    <th>진행상황</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td>
			<ul>
				<li class="odd"><%= link_to time_mid(event.started_at), [:admin, event] %></li>
				<li class="even"><%= link_to time_mid(event.finished_at), [:admin, event] %></li>
			</ul>
		</td>
    <td><%= link_to event.title, [:admin, event] %></td>
    <td><%= link_to event.status, [:admin, event] %></td>
    <td><%= link_to '수정', edit_admin_event_path(event) %></td>
    <td><%= link_to '삭제', [:admin, event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '새 이벤트 만들기', new_admin_event_path %>
