<p id="notice"><%= notice %></p>

<p>
  <b>시작일:</b>
  <%= time_mid(@event.started_at) %>
</p>

<p>
  <b>종료일:</b>
  <%= time_mid(@event.finished_at) %>
</p>

<p>
  <b>이벤트명:</b>
  <%= @event.title %>
</p>

<p>
  <b>이벤트상태:</b>
  <%= @event.status %>
</p>

<p>
  <b>Livere code:</b>
  <%= @event.livere_code %>
</p>


<%= link_to '수정', edit_admin_event_path(@event) %> |
<%= link_to '목록보기', admin_events_path %>
