<p><%= notice %></p>
<h1><%= link_to '관리자 기능 >> ', admin_path %><%= @event.title %></h1>

<p>
  <b>시작일:</b>
  <%= time_mid(@event.started_at) %>
</p>

<p>
  <b>종료일:</b>
  <%= time_mid(@event.finished_at) %>
</p>

<p>
  <b>이벤트명:</b>
  <%= @event.title %>
</p>

<p>
  <b>이벤트상태:</b>
  <%= @event.status %>
</p>
<p>
  <b>응모자:</b>
	<ul>
		<% @event.users.each do |user| %>
  		<li>이메일:<%= user.email %> 이름:<%= user.name %> 전화번호: <%= user.phone %></li>
		<% end %>
	</ul>
</p>


<%= link_to '수정', edit_admin_event_path(@event) %> |
<%= link_to '목록보기', admin_events_path %>
