<h1>이벤트 목록</h1>

<table>
<% @events.each do |event| %>
  <tr>
		<% if event.thumbnail.nil? %>
			<p><%= event.title %></p>
		<% else %>
			<td colspan="2"><%= image_tag event.thumbnail %></td>
		<% end %>
	</tr>
	<tr>
		<td><%= link_to event.title, event %></td>
    <td>
			<p><%= link_to time_mid(event.started_at), event %> ~
			<%= link_to time_mid(event.finished_at), event %></p>
		</td>
    
  </tr>
<% end %>
</table>


