<p id="notice"><%= notice %></p>

<p>
  <b>시작일</b>
  <%= time_mid @event.started_at %>
</p>

<p>
  <b>종료일</b>
  <%= time_mid @event.finished_at %>
</p>

<p>
  <b>이벤트명:</b>
  <%= @event.title %>
</p>

<p>
  <b>진행상태:</b>
  <%= @event.status %>
</p>

<p>
	<% if @event.image_url.empty? %>
		<%= image_tag @event.image_url %>
	<% else %>
		<span>등록된 이미지가 없습니다.</span>
	<% end %>
</p>

<%= link_to '전체 이벤트 목록', events_path %>
<div id="livereContainer" >

	<script type="text/javascript">
		var consumer_seq	= "604"
		var livere_seq		= "14645"
		var smartlogin_seq	= "688"	// 고정
		var title = "repang";
		var refer = "repang.net/events/<%= @event.id %>";
		livereReply = new Livere( livere_seq , refer , title );
		livereLib.start();
	</script>

</div>



<div id="modalLayer">
	<div class="popup">
	    <form name="form1" method="post" action="event_vote.aspx" id="form1">

<div>

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJOTk0MzY2MDU0DxYCHgNpZHhkFggCAw8WAh4EVGV4dAUmPHAgY2xhc3M9J2dhZ2UnIHN0eWxlPSd3aWR0aDo1MCUnPjwvcD5kAgUPFgIfAQUmPHAgY2xhc3M9J2dhZ2UnIHN0eWxlPSd3aWR0aDoxMSUnPjwvcD5kAgcPFgIfAQUmPHAgY2xhc3M9J2dhZ2UnIHN0eWxlPSd3aWR0aDoyNyUnPjwvcD5kAgkPFgIfAQUmPHAgY2xhc3M9J2dhZ2UnIHN0eWxlPSd3aWR0aDoxMSUnPjwvcD5kGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYCBQpidG5Db25maXJtBQlidG5DYW5jZWw=" />

</div>



	    <input name="hdnEmail" type="hidden" id="hdnEmail" />

	    <input name="hdnPhoneNum" type="hidden" id="hdnPhoneNum" />

	    <input name="voteValue" type="hidden" id="voteValue" />

		<div class="info">

			<p class="id"><input name="txtWebId" type="text" id="txtWebId" class="textType" size="30" style="width:110px;" /></p>

			<p class="name"><input name="txtUserName" type="text" id="txtUserName" class="textType" size="30" style="width:110px ;" /></p>

			<p class="phone">

            <select style="width:50px;"  id="tel1" name="tel1" >

			    <option>010</option>

                <option>011</option>

                <option>016</option>

                <option>017</option>

                <option>018</option>

                <option>019</option>

			</select>

				<input  id="tel2" maxlength=4 class="textType" type="text"  size="" style="width:50px;"/>

				<input  id="tel3"  maxlength=4  class="textType" type="text"  size="" style="width:50px;"/>

			</p>

			<p class="email">

				<input id="email1" class="textType" type="text"  size="" style="width:110px;"/>

				<input id="email2" class="textType" type="text"  size="" style="width:110px;"/>

				<select name="portal" id="portal">

					<option>직접입력</option>

                   <option value="nate.com">nate.com</option>

                   <option value="naver.com">naver.com</option>

                   <option value="paran.com">paran.com</option>

                   <option value="yahoo.com">yahoo.com</option>

                   <option value="hotmail.com">hotmail.com</option>

                   <option value="hanmail.net">hanmail.net</option>

                   <option value="gmail.com">gmail.com</option>

                   <option value="choi.com">choi.com</option>

                   <option value="dreamwiz.com">dreamwiz.com</option>

                   <option value="empal.com">empal.com</option>

                   <option value="freechal.com">freechal.com</option>

                   <option value="hanafos.com">hanafos.com</option>

                   <option value="hanmir.com">hanmir.com</option>

                   <option value="hitel.net">hitel.net</option>

                   <option value="korea.com">korea.com</option>

                   <option value="lycos.com">lycos.com</option>

                   <option value="netian.com">netian.com</option>

				</select>

			</p>

		</div>

		<p class="check"><input type="checkbox" id="check01" name="check01" class="checkBox"/></p>

		<p class="btn">

		    <input type="image" name="btnConfirm" id="btnConfirm" src="images/btn_ok.gif" alt="확인" style="border-width:0px;" />

			<input type="image" name="btnCancel" id="btnCancel" src="images/btn_cancel.gif" style="border-width:0px;" />

		</p>

		</form>

	</div>

</div>


