<div class="event_contents">
	<h1 class="event_title"><%= @event.title %></h1>
	<p id="notice"><%= notice %></p>
	<div class="event_info">
		<p>
		  <b>이벤트 기간</b>
		  <%= time_mid @event.started_at %> ~ <%= time_mid @event.finished_at %>
		</p>
	</div>
	<%= link_to image_tag("list_menu33.jpg"), events_path, :class => :link_to_list %>	
	<div class="event_image">
		<% unless @event.image_url.empty? %>
			<%= image_tag @event.image_url %>
		<% else %>
			<span>등록된 이미지가 없습니다.</span>
		<% end %>
	</div>
	<div class="banner">
		<% if @event.banner_image.nil? or @event.banner_link.nil? %>
		<% else %>
			<%= link_to image_tag(@event.banner_image), @event.banner_link %>
		<% end %>
	</div>
	<%= link_to image_tag("list_menu.jpg"), events_path, :class => :link_to_list %>
	<!-- <a href="#" class="register_button">모달 열기</a> -->
	<div id="livereContainer" >
		<script type="text/javascript">
			var consumer_seq	= "604"
			var livere_seq		= "14645"
			var smartlogin_seq	= "688"	// 고정
			var title = "repang";
			var refer = "repang.net/events/<%= @event.id %>";
			livereReply = new Livere( livere_seq , refer , title );
			<% if @event.facebook_description.nil? %>
				livereReply.description = "<%= @event.title %>";
			<% else %>
				livereReply.description = "<%= @event.facebook_description %>";
			<% end %>
			livereLib.start();
		</script>
	</div>
	<div id="register_form">
		<a href="#" title="Close" class="modal-close simplemodal-close">x</a>
		<h2 class="modal_title">이벤트 당첨 시 경품배송을 위해 정확한 정보를 입력해주세요.</h2>
		<%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <p><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</p>
		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<%= f.association :events, :as => :hidden, input_html: {:value => @event.id} %>
		  <div class="field">
		    <%= f.input :name, label: '이름' %>
		  </div>
		  <div class="field">
		    <%= f.input :email, label: '이메일' %>
		  </div>
		  <div class="field">
		    <%= f.input :phone, label: '전화번호' %>
		  </div>
			<div class="field">
				<div class="control-group">
					<div class="controls">
						<div class="agree_doc">
							<div>
								<strong>
								일반 개인 정보의 수집 및 이용에 대한 동의
								</strong>
							</div>
							<div>
								<strong>수집항목</strong>
								<p>성명, 성별, 주소 등 기타 신상명세</p>
							</div>
							<div>
								<strong>수집 및 이용 목적</strong>
								<p>이벤트 진행 과정의 효율성 유지 제고</p>
							</div>
							<div>
								<strong>보유 및 이용기간</strong>
								<p>관계 법령의 규정에 따라 귀하의 개인정보를 보존할 의무가 있는 경우가 아니한, 귀하의 개인 정보수집 및 이용목적을 달성할 때까지 귀하의 개인정보를 보유 및 이용합니다.</p>
							</div>
							<div>
								<strong>거부권 및 거부에 따른 불이익</strong>
								<p>귀하는 위와 같은 개인정보의 수집, 이용을 거부할 수 있습니다. 다만, 개인정보의 필수적 수집, 이용에 동의하지 않을 경우 이벤트 절차가 진행 될 수 없습니다.</p>
							</div>
				</div>
					</div>
					<div class="controls">
						<input type="checkbox" id="agree_private_information" name="agree_private_information">
						<div class="lable_box">
							<lable for="agree_private_information" class="agree_lable">본인은 회사의 일반 개인정보 수집 및 이용에 관한 설명을 모두 이해하였고, 이에 동의합니다.</lable>
						</div>
					</div>
				</div>
		  </div>
			
			<div class="field">
				<div class="control-group">
					<div class="controls">
						<div class="agree_doc">
							<div>
								<strong>고유식별정보 수집 및 이용에 대한 동의</strong>
							</div>
							<div>
								<strong>수집항목</strong>
								<p>주민등록번호, 여권번호, 운전면허번호, 외국인 등록번호 등</p>
							</div>
							<div>
								<strong>수집 및 이용 목적</strong>
							<p>이벤트 진행 과정의 효율성 유지 제고</p>
							</div>
							<div>
								<strong>보유 및 이용 기간</strong>
								<p>관계 법령의 규정에 따라 귀하의 고유식별정보를 보존할 의무가 있는 경우가 아니한, 귀하의 고유식별정보 수집 및 이용목적을 달성할 때까지 귀하의 고유식별정보를 보유 및 이용합니다.</p>
							</div>
							<div>
								<strong>거부권 및 거부에 따른 불이익</strong>
								<p>귀하는 위와 같은 고유식별정보의 수집, 이용을 거부할 수 있습니다.
								다만, 고유식별 정보의 필수적 수집 이용에 동의하지 않을 경우 이벤트 절차가 진행되지 않습니다.</p>
							</div>
				</div>
					</div>
					<div class="controls">
						<input type="checkbox" id="agree_private_number" name="agree_private_number">
							<div class="lable_box">
								<lable for="agree_private_number">본인은 회사의 고유식별정보 수집 및 이용에 관한 설명을 모두 이해하였고, 모두 동의합니다.</lable>
						</div>
					</div>
				</div>
			</div>
		  <div class="field">
				<div class="control-group">
					<div class="controls">
						<%= f.submit "응모하기" %>
					</div>
				</div>
		  </div>
		<% end %>
	</div>
</div>