<div class="signup">
	<h1><%= link_to '관리자 기능 >> ', admin_path %>비번변경</h1>
	<%= simple_form_for([:admin, @user], :html => {:class => 'form-horizontal' }) do |f| %>
	
		<%= f.input :username, :label => 'ID', :placeholder => "ID"  %>
		<%= f.input :password, :label => '패스워드', :placeholder => "패스워드", :hint => '특수문자를 제외한 1글자 ~ 20글자 이하' %>
		<%= f.input :password_confirmation, :label => '패스워드 확인', :placeholder => "패스워드 확인", :hint => '특수문자를 제외한 1글자 ~ 20글자 이하' %>
	  <div class="actions">
	  	<%= f.submit "완료", :class => "btn btn-primary submit" %>
	  </div>
	<% end %>

</div>

