<!DOCTYPE html>
<html>
<head>
  <title>Repang</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://101.livere.co.kr/js/livere8_lib.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
